<div>
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="_centerNode" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region: 'center'">
            <div data-dojo-type="dijit/layout/BorderContainer" title="${i18n.widget.now}" data-dojo-props="selected:true" data-dojo-attach-point="_nowTab">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
                    <!--<div><img src="" data-dojo-attach-point="_icon"/></div>-->
                    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="class: 'top'">
                        <div data-dojo-attach-point="_top"></div>
                    </div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
                    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_grid"></div>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/BorderContainer" title="${i18n.widget.fiveDays}" data-dojo-props="" data-dojo-attach-point="_5DaysTab">
                <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'top'">
                    <div  data-dojo-attach-point="_seriesNode5Days"></div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'center', 'class':'noPadding'" data-dojo-attach-point="_chartContainer5Days">
                    <div data-dojo-attach-point="_chartNode5Days"></div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
                    <div data-dojo-attach-point="_legendNode5Days"></div>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/BorderContainer" title="${i18n.widget.sixteenDays}" data-dojo-props="" data-dojo-attach-point="_16DaysTab">
                <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'top'">
                    <div  data-dojo-attach-point="_seriesNode16Days"></div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'center', 'class':'noPadding'" data-dojo-attach-point="_chartContainer16Days">
                    <div data-dojo-attach-point="_chartNode16Days"></div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
                    <div data-dojo-attach-point="_legendNode16Days"></div>
                </div>
            </div>
        </div>
    </div>
</div>
