<div data-dojo-attach-point="_containerNode">
    <div class="fieldWidgetItem" data-dojo-attach-point="_fieldNode"></div>
    <div class="fieldWidgetItem" data-dojo-attach-point="_fieldCheckBoxNode"></div>
    <div class="fieldWidgetItem" data-dojo-attach-point="_relationalOperatorNode"></div>
    <div class="fieldWidgetItem" data-dojo-attach-point="_relationalOperatorCheckBoxNode"></div>
    <div class="fieldWidgetItem" data-dojo-attach-point="_valueNode"></div>
    <div class="fieldWidgetItem" data-dojo-attach-point="_valueCheckBoxNode"></div>
    <div class="buttonContainer" data-dojo-attach-point="_buttonNode"></div>
</div>
