<div>
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="_centerNode" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region: 'center'">
            <div data-dojo-type="dijit/layout/BorderContainer" title="${i18n.widget.now}" data-dojo-props="selected:true" data-dojo-attach-point="_nowTab">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
                    <img src="" data-dojo-attach-point="_icon"/>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
                    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_grid"></div>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" title="${i18n.widget.fiveDays}" data-dojo-props="" data-dojo-attach-point="_fiveDaysTab">
                <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'center', 'class':'noPadding'" data-dojo-attach-point="_chartContainer1">
                    <div data-dojo-attach-point="_chartNode1"></div>
                </div>
                <div data-dojo-attach-point="_legendNode1"></div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" title="${i18n.widget.sixteenDays}" data-dojo-props="" data-dojo-attach-point="_sixteenDaysTab">
            </div>
        </div>
    </div>
</div>
