<div data-dojo-attach-point="_containerNode">
    <div class="notNode inline" data-dojo-attach-point="_notNode">
        <div class="inline" data-dojo-attach-point="_notCheckBoxNode"></div>
    </div>
    <div data-dojo-attach-point="_fieldNode"></div>
    <div class="inline" data-dojo-attach-point="_fieldCheckBoxNode"></div>
    <div data-dojo-attach-point="_compareNode"></div>
    <div class="inline" data-dojo-attach-point="_compareCheckBoxNode"></div>
    <div class="inline" data-dojo-attach-point="_valueNode"></div>
    <div class="inline" data-dojo-attach-point="_valueCheckBoxNode"></div>
    <div class="inline" data-dojo-attach-point="_buttonNode"></div>
</div>
