<div>
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="_topNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'" class="inputContainer">
            <div>
                <div class="title">
                    <label>${i18n.title}</label>
                    <label class="noWidth" data-dojo-attach-point="_titleNode"></label>
                </div>
                <div class="title">
                    <label>${i18n.userStore}</label>
                    <label class="noWidth" data-dojo-attach-point="_storeNode"></label>
                </div>
                <div>
                    <label>${i18n.userUseGeometry}</label>
                    <input data-dojo-attach-point="_geometryNode">
                </div>
                <div data-dojo-attach-point="_matchDiv">
                    <label>${i18n.userMatch}</label>
                    <input data-dojo-attach-point="_matchNode">
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="_centerNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
            <div data-dojo-attach-point="_queryNode"></div>
        </div>
        <div data-dojo-attach-point="_bottomNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
            <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_onDone">
                ${i18n.userDone}
            </button>
        </div>
    </div>
    <div data-dojo-attach-point="_errorNode">${i18n.serviceUnavailable}</div>
</div>
