<div>
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="_leftNode" data-dojo-type="dijit/layout/BorderContainer"
             data-dojo-props="region: 'left'" class="settingsContainer">
            <div data-dojo-attach-point="_settingsNode" data-dojo-type="dijit/layout/ContentPane"
                 data-dojo-props="region: 'top'" class="noPadding">
                <!--<div class="settingsDiv">
                    <label>${i18n.title}</label>
                    <label class="noWidth" data-dojo-attach-point="_titleNode"></label>
                </div>-->
                <div class="settingsDiv">
                    <label>${i18n.userStore}</label>
                    <input data-dojo-attach-point="_filteringNode">
                </div>
                <div class="settingsDiv">
                    <label>${i18n.userUseGeometry}</label>
                    <input data-dojo-attach-point="_geometrySelectNode">
                </div>
                <div class="settingsDiv" data-dojo-attach-point="_matchDiv">
                    <label>${i18n.userMatch}</label>
                    <input data-dojo-attach-point="_matchNode">
                </div>
            </div>
            <div data-dojo-attach-point="_bottomNode" data-dojo-type="dijit/layout/ContentPane"
                 data-dojo-props="region: 'bottom'" class="noPadding">
                <button data-dojo-type="dijit.form.Button" class="doneButton" type="button" data-dojo-attach-event="onClick:_onDone"
                        data-dojo-props="iconClass:'icon-magnifier'">
                    ${i18n.userDone}
                </button>
            </div>
        </div>
        <div data-dojo-attach-point="_centerNode" data-dojo-type="dijit/layout/BorderContainer"
             data-dojo-props="region: 'center'" class="centerContainer">
            <div data-dojo-type="dijit/layout/ContentPane"
                 data-dojo-props="region: 'top'" class="noPadding">
                <label>${i18n.defineQuery}</label>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane"
                 data-dojo-props="region: 'center'" class="noPadding">
                <div data-dojo-attach-point="_queryNode"></div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="_errorNode">${i18n.serviceUnavailable}</div>
</div>
