<div>
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="_centerNode" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region: 'center'">
            <div data-dojo-type="dijit/layout/ContentPane" title="${i18n.builder}" data-dojo-props="selected:true" data-dojo-attach-point="_builderTab">
                <div class="head">
                    <label>${i18n.queryDefinition}</label>
                </div>
                <div class="settings">
                    <div>
                        <label>${i18n.useExtent}</label>
                        <input data-dojo-attach-point="_extentNode"/>
                    </div>
                    <div>
                        <label>${i18n.match}</label>
                        <input data-dojo-attach-point="_matchNode"/>
                    </div>
                </div>
                <div>
                    <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_addField" class="button">
                        ${i18n.addField}
                    </button>
                </div>

                <div data-dojo-attach-point="_queryNode"></div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" title="${i18n.manual}" data-dojo-attach-point="_manualTab">
                <div data-dojo-attach-point="_customQueryLabelNode">
                    <label>${i18n.customQuery}</label>
                    <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_customQueryHelp" class="button">
                        ?
                    </button>
                </div>
                <div>
                    <textarea name="textarea" data-dojo-type="dijit/form/SimpleTextarea" rows="18" cols="90" data-dojo-attach-point="_customQueryTextArea"></textarea>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="_topNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'" class="inputContainer">
            <div>
                <label>${i18n.title}</label>
                <input type="text" name="title" value="" data-dojo-type="dijit/form/ValidationTextBox" required="true" placeHolder="${i18n.typeInTitle}" data-dojo-attach-point="_titleTextBox" data-dojo-props="intermediateChanges: 'true'" style= "width: 250px;"/>
            </div>
            <div>
                <label>${i18n.iconClass}</label>
                <input type="text" name="iconClass" data-dojo-type="dijit/form/ValidationTextBox" required="true" data-dojo-attach-point="_iconClassTextBox"  data-dojo-props="intermediateChanges: 'true'" style= "width: 209px;"/>
                <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_iconClassHelp" class="button">
                    ?
                </button>
            </div>
            <div data-dojo-attach-point="_storeIdNode">
                <label>${i18n.storeId}</label>
                <input data-dojo-attach-point="_filteringNode">
            </div>
        </div>
        <div data-dojo-attach-point="_bottomNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
            <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_onCancel" class="rightFloatingButton">
                ${i18n.cancel}
            </button>
            <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_onDone" data-dojo-attach-point="_doneButton" data-dojo-props="disabled: 'true'" class="rightFloatingButton">
                ${i18n.done}
            </button>
        </div>
    </div>
</div>
