.ctAppRoot .querybuilder-window .vue-base {
    height: 100%;
}

.ctAppRoot .querybuilder-window .overflowAuto {
    overflow: auto;
}

.ctAppRoot .querybuilder-window .center .v-chip .v-chip__content {
    height: 26px;
}

.ctAppRoot .querybuilder-window .center .v-chip .v-chip__content .v-icon {
    font-size: 18px;
}
